*{
    padding: 0;
    margin: 0;
}

.nav-btn{
    border: none;
    transition: all 400ms ease;
    background: none;

}

.nav-btn:hover{
    background-color: rgba(27, 121, 30, 0.492);
    border-radius: 5px;
    padding: 5px;
}

#galeria{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 1.5em;
    text-align: center;
}

.card{
    margin-top: 20px;
    padding: 1em;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.267);
}

.modal{
    display: hide;
}